<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Course</title>
</head>
<body>
   <form method="post">
        Course Name: <input type="text" name="cname" required><br>
        Course Number: <input type="text" name="cnumber" required><br>
        Teacher Name: <input type="text" name="teacher_name" required><br>
        Semester: <input type="text" name="semester" required><br>
        Credit: <input type="number" name="credit" required min="0"><br>
        <input type="submit" value="Create Course">
    </form>
    
</body>
</html>