body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f9f9f9; /* 轻微灰色背景 */
}

.sidebar {
    width: 200px;
    background-color: #e9ecf3;
    color: rgb(255, 255, 255);
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #6e8ac7;
    cursor: pointer;
    border-radius: 5px; /* 圆角 */
}

.sidebar ul li:hover {
    background-color: #91afd0; /* 悬停颜色 */
    color: white; /* 白色文字 */
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white; /* 主内容区白色背景 */
    margin: 10px;
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 阴影效果 */
}

